body {
    size: 50px;
    text-align: center;
    font-family: 'Happy Monkey', cursive;
    background-color: #a2d2ff;
    border-color: #EFB0C9;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#birthpic {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    text-align: center;
    border: 10px solid #EFB0C9;
}

h1, h2 {
    color: #ffffff;
    font-size: 30px;
    font-weight: bold;
    text-shadow: 0 0 1px black;
}

h4 {
    color: #ffffff;
    font-size: 20px;
    text-shadow: 0 0 1px black;
}

#bday-date {
    margin: 0;
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
    margin-bottom: 50px;

}

#bday-age {
    background: #EFB0C9;
    padding: 5px 10px;
    border-radius: 5px;
    margin: 20px 0 10px 0;
}

#header {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
}

.gift-hint {
    color: white;
    font-size: 20px;
    text-shadow: 0 0 1px black;
    margin-top: 1px;
}

.gift-title {
    margin-bottom: 10px;
}

.gift-image {
    margin: 0 auto;
    height: 400px;
    width: 400px;
    border-radius: 20px;
    border: 10px solid purple;
    background-image: url("/images/gift image.jpg");
    background-size: cover;
}

#happy:hover{
    background-image: url("/images/happy as larry.gif");
}

#hot:hover{
    background-image: url("/images/jon hamm winking.gif");
}